.form__color-button {
  min-width: 150px;
  height: 50px;
  font-size: 16px;
  font-weight: 500;
  color: var(--blackpure);
  border: 2px solid var(--accent);
}

.dark .form__color-button {
  color: var(--white);
  border-color: var(--white);
}

.form__color-button:hover {
  opacity: 0.9;
}

.form__color-input-hidden {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  pointer-events: none;
}
