html,
body {
  min-height: 100vh;
  font-family: "DM Sans", sans-serif;
  letter-spacing: -0.5px;
  background-color: var(--page-bg);
  color: var(--text-color);
}

#root {
  min-height: 100vh;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  padding: 60px 15px 0 15px;
  max-width: 1200px;
}

.none {
  display: none !important;
}

.section {
  padding: 50px 0;
}

.title-1 {
  margin-bottom: 40px;
  font-size: 100px;
  font-weight: 700;
  line-height: 1.3;
  color: var(--title-1);
  text-align: center;
}

.title-2 {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.3;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  padding: 12px 28px;
  border-radius: 5px;
  background-color: transparent;
  color: var(--blackpure);
  letter-spacing: 0.15px;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.2s ease-in;
  border: 2px solid var(--accent);
  cursor: pointer;
}
.btn:focus {
  outline: none;
}
.btn:hover {
  background-color: var(--accent);
  border-color: var(--blackpure);
}
.btn:active {
  position: relative;
  top: 1px;
}
.dark .btn {
  color: var(--white);
  border-color: var(--white);
}
.dark .btn:hover {
  border-color: var(--white);
}
.btn-outline {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  height: 48px;
  padding: 12px 20px;
  border-radius: 5px;
  border: 2px solid var(--accent);
  background-color: transparent;
  color: var(--blackpure);
  transition: all 0.2s ease-in;
  cursor: pointer;
}
.btn-outline:focus {
  outline: none;
}
.btn-outline:hover {
  background-color: var(--accent);
  border-color: var(--blackpure);
}
.btn-outline:active {
  position: relative;
  top: 1px;
}
.dark .btn-outline {
  color: var(--white);
  border-color: var(--white);
}
.dark .btn-outline:hover {
  border-color: var(--white);
}

@media (max-width: 620px) {
  .section {
    padding: 40px 0;
  }

  .title-1 {
    margin-bottom: 30px;
    font-size: 40px;
  }

  .title-2 {
    margin-bottom: 10px;
    font-size: 30px;
  }
}
