.theme-toggle {
  position: fixed;
  top: 50px;
  right: 50px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 51px;
  height: 26px;
  padding: 5px;

  border-radius: 50px;
  background-color: var(--black-border);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.theme-toggle::before {
  content: "";

  position: absolute;
  top: 1px;
  left: 1px;

  display: block;
  width: 24px;
  height: 24px;

  border-radius: 50%;
  background-color: var(--white);

  transition: left 0.2s ease-in;
  z-index: 1;
}

.theme-toggle--active::before {
  left: 26px;
}

.theme-toggle__icon {
  position: relative;
  z-index: 2;
  width: 16px;
  height: 16px;
  pointer-events: none;
}
